/* General */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 156px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #4694dc;
  min-height: 500px;
  padding-top: 79px;
  padding-bottom: 50px;
  color: #fff;
}

.header__title {
  font-size: 62px;
  font-weight: 600;
  margin-bottom: 28px;
}

.header__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  line-height: 25px;
  max-width: 437px;
}

.header__button {
  width: 194px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

/* Block */
.services .block {
  text-align: center;
  margin-bottom: 115px;
}

.block__title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.1px;
  margin-bottom: 25px;
}
.block__text {
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-weight: 400;
  color: #9ca3af;
  max-width: 465px;
  margin: 0 auto;
}

/*Services */
.services {
  padding: 88px 0 169px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 888px;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 120px;
  text-align: center;
  justify-content: space-between;
}
.services__items-img {
  align-self: center;
}

.services__items-title {
  font-size: 16px;
  font-weight: 600;
  color: #9ca3af;
}

/* Team */
.team {
  padding-bottom: 79px;
}

.team .block {
  text-align: center;
  margin-bottom: 80px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  gap: 50px;
}

.team__item {
  display: flex;
  padding: 20px;
  background-color: #fff;
  width: 260px;
  height: 76px;
  border-radius: 11px;
  align-items: center;
  box-shadow: 0px 4px 70px 0 rgba(91, 93, 99, 0.06);
}

.team__img {
  align-self: center;
  margin-right: 8px;
}

/* .team__block {
  text-align: center;
  margin-bottom: 118px;
} */

.team__title {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.team__text {
  margin-top: 0;
  font-size: 11px;
  color: #9ca3af;
  font-style: italic;
}

/* Media */
@media screen and (max-width: 1366px) {
  .team .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1024px) {
  .team__items {
    align-items: center;
    flex-direction: column;
  }
}

/* //на экранах с разрешением 768px и меньше
будет выполняться другой css-код. */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .services__items {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 36px;
  }
}
